@import url('./hover-min.css');

:root {
  --color-primary: #fca404;
  --color-secondary: #641644;
  --color-prymary-dark: #976201;
  --color-prymary-light: #fcd47a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  opacity: 0.8;
  background-color: #000;
}

.title {
  color: var(--color-primary);
}

.profile-img {
  max-width: 18em;
  border: 8px solid var(--color-primary);
}

.bg-image {
  background-image: url('https://i.ibb.co/wKVdbVZ/header.jpg');
  background-position: center;
  background-size: cover;
}

.skill-img {
  max-width: 8em;
}

.sevices-card {
  max-width: 15em;
  text-align: center;
  background-color: #c9c9c9;
  margin: 5px;
  padding: 15px;
  border-radius: 5%;
}

.card {
  margin: 5px;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-img {
  width: 4rem;
}

.link-card {
  text-decoration: none;
  color: #000;
}

.link-card:hover {
  color: #000;
}