@import url('./hover-min.css');

:root {
  --color-primary: #fca404;
  --color-secondary: #641644;
  --color-prymary-dark: #976201;
  --color-prymary-light: #fcd47a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  opacity: 0.8;
  background-color: #000;
}

.title {
  color: var(--color-primary);
}

.profile-img {
  max-width: 18em;
}

.bg-image {
  background-position: center;
  background-size: cover;
}

.skill-img {
  max-width: 8em;
}

.sevices-card {
  max-width: 15em;
  text-align: center;
  background-color: #c9c9c9;
  margin: 5px;
  padding: 15px;
  border-radius: 5%;
}

.card {
  margin: 5px;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-img {
  width: 4rem;
}

.link-card {
  text-decoration: none;
  color: #000;
}

.link-card:hover {
  color: #000;
}

.buttom-primary {
  background: var(--color-primary);
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.buttom-primary:hover {
  background: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  transition: background 0.5s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(53, 52, 52, 0.273);
  transition: all 0.5s linear;
}

.card-body {
  padding: 2rem 0 !important;
}

.card-text {
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.over-flow {
  overflow: hidden;
}

.card-img-top {
  transition: all 0.6s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.8);
}

.text--property {
  font-size: 1.5rem;
}

.text__h1--property {
  font-size: 1.5rem;
}

.text__h3--property {
  font-size: 1.2rem;
}

.down-icon {
  display: inline;
  justify-content: center;
  width: 50px;
}

.container__icon {
  width: 90px;
  display: flex;
  justify-content: center;
}